<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :published_at, style: "display: block" %>
    <%= form.text_field :published_at, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, class: "tinymce" %>
  </div>

  <div class="text-center">
    <%= form.submit "Submit", :class=>"btn btn-primary" %>
  </div>
<% end %>
