<div class="py-3">
  <h3 class="text-center">Update Blog</h3>

  <div class="text-center">
    <%= link_to "Back to Blog", blog_path(@blog) %>
  </div>

  <div class="d-flex align-items-center justify-content-center my-5">
    <div class="card">
      <div class="card-body px-5 py-4">
        <%= form_with(model: @comment) do |form| %>
          <% if @comment.errors.any? %>
            <div style="color: red">
              <ul>
                <% @comment.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= form.label :title, style: "display: block" %>
            <%= form.text_field :title %>
          </div>

          <div class="mb-3">
            <%= form.label :content, style: "display: block" %>
            <%= form.text_area :content %>
          </div>

          <div class="text-center">
            <%= form.submit "Submit", :class=>"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


